.messages-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.message-item {
  display: flex;
  flex-direction: column;
  .message {
    margin: 10px 10px;
    align-self: flex-end;
    width: 80%;
    background-color: rgb(87, 149, 250);
    border-radius: 10px 10px 0px 10px;
    padding: 10px;
  }
  
  .sender {
    align-self: flex-start;
    color: black;
    background-color: rgb(237, 240, 247);
    border-radius: 10px 10px 10px 0px;
  }
  
  .event, .new-session {
    align-self: center;
    height: 16px;
    font-size: 10px;
    padding: 0px 6px;
    border-radius: 8px;
  }

  .event {
    background-color: rgba(65, 117, 5, 0.2);
  }
}

